<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class=" card-header" th:text="${titulo}"></div>
			<div class=" card-body">
				<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">

					<div class="form-group">
						<label for="nombre"></label> <input type="text"
							th:field="*{nombre}" class="form-control"
							th:errorclass="'alert-danger'" id="nombre" placeholder="NOMBRE">

						<small class="form-text text-danger "
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
					<div class="form-group">
						<label for="apellido"></label> <input type="text"
							th:field="*{apellido}" class="form-control"
							th:errorclass="'alert-danger'" id="apellido"
							placeholder="APELLIDO"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
					</div>
					<div class="form-group">
						<label for="email"></label> <input type="email"
							th:field="*{email}" class="form-control"
							th:errorclass="'alert-danger'" id="email" placeholder="EMAIL">
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
					<div class="form-group">
						<label for="fecha"></label> <input type="text"
							th:field="*{createAt}" class="form-control"
							th:errorclass="'alert-danger'" id="fecha" placeholder="FECHA">
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
					</div>
					
					<div class="form-group">
						<label for="file">Fecha</label> 
						<input type="file" name="file"class="form-control" id="file" >
						
					</div>		
																
					<button type="submit" class="btn btn-outline-info mt-4" th:onclick="save([[${cliente.id}]])">Crear
						Cliente</button>

				</form>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>